@font-face {
  src: url("Autumn in November.ttf");
  Font-family: AIN;
}
body {
  background-color: lime;
}
p, a, h1, h2, h3, h4, h5, h6 {
  color: black;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-decoration: none;
  font-family: AIN;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
.nav {
  background-color: dodgerblue;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.nav li {
  float: left;
}
.nav li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
.nav li a:hover {
  background-color: #0080ff;
}
hr {
  border: 1px solid black;
}
